
/*Effects*/

.panel-body{
 padding: 100px !important;    
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.41) !important;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
html, body {
      height: 100%;
    }
    .container{
      width: 100%;
    }
    .vertical-center {
      height: 100%;
      width: 100%;
      text-align: center;  /* align the inline(-block) elements horizontally */
             /* remove the gap between inline(-block) elements */
    }
    .vertical-center:before {    /* create a full-height inline block pseudo=element */
      content: ' ';
      display: inline-block;
      vertical-align: middle;  /* vertical alignment of the inline element */
      height: 100%;
    }
    .vertical-center > .container {
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;  /* vertical alignment of the inline element */
             /* <-- reset the font property */
    }
    
    .jumbotron{
        margin-bottom: 0px;
        height: 100%;
        background:transparent;  
        margin-bottom: 0 !important;
    }
    .list-group-item-Week {
    position: relative;
    display: block;
    padding: 14px;
    margin-bottom: -1px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.image{
  background-image: url('../img/FewClouds-lg.jpg');
   -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  width: 50% !important;
  height: 50% !important;
  -webkit-transform-origin: 12% 5%;
  -moz-transform-origin: 12% 5%;
  -o-transform-origin: 12% 5%;
  -ms-transform-origin: 12% 5%;
  transform-origin: 12% 5%;
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -o-transform: scale(2.5);
  -ms-transform: scale(2.5);
  transform: scale(2.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
  z-index: -1;
   left: 0;
  right: 0;
  position: fixed;
}
.panel{
    z-index: 2;
}
.ui-panel-wrapper {
    position: relative;
    min-height: 100% !important;
    border: 0;
    overflow-x: hidden;
    z-index: 999;
}
.location,
.today {
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  width: 100%;
  margin: 0;
  left: 0;
}
.today {
  font-size: 14px;
  
}
.temperature {
  font-size: 175px;
  line-height: 200px;
  position: relative;
  font-weight: 100;
  top:40px;
}
.weather-desc {
  text-align: center;
  width: 100%;
}
.weather-desc > span {
  display: inline-block;
  padding: 5px 10px;
  background: rgba(234, 234, 234, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
}
.weather-params {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  list-style: none;
  position: relative;
}
.weather-params > li {
  overflow: hidden;
}
.weather-params > li .climacon {
  display: block;
  font-size: 50px;
  float: left;
  margin-right: 10px;
  line-height: 37px;
  height: 37px;
  width: 37px;
  text-align: center;
}
.weather-params > li span {
  position: relative;
  top: 10px;
  font-weight: 300;
}
.week-forecast {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.week-forecast > li {
  border-top: 3px solid #fc0203;
  float: left;
  width: 138px;
  height: 150px;
}
.week-forecast > li:first-child {
  border-bottom-left-radius: 5px;
}
.week-forecast > li:last-child {
  border-bottom-right-radius: 5px;
}
.week-forecast > li.sun {
  border-color: #fff000;
  background: rgba(255,240,0,0.05);
}
.week-forecast > li.cloud {
  border-color: #d3d3d3;
  background: rgba(211,211,211,0.05);
}
.week-forecast > li.fog{
   border-color: #d3d3d3;
  background: rgba(211,211,211,0.05); 
}
.week-forecast > li.drizzle{
   border-color: #d3d3d3;
  background: rgba(211,211,211,0.05); 
}
.week-forecast > li.lightning{
   border-color: #d3d3d3;
  background: rgba(211,211,211,0.05); 
}
.week-forecast > li.snow{
   border-color: #d3d3d3;
  background: rgba(211,211,211,0.05); 
}
.week-forecast > li.tornado{
   border-color: #d3d3d3;
  background: rgba(211,211,211,0.05); 
}
.week-forecast > li.rain {
  border-color: #0cf;
  background: rgba(0,204,255,0.05);
}
.week-forecast > li.rain.sun {
  border-color: #8de8ff;
  background: rgba(141,232,255,0.05);
}
.week-forecast > li.cloud.sun {
  border-color: #fffcb1;
  background: rgba(255,252,177,0.05);
}
.week-forecast > li > .inner {
  border-right: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
}
.week-forecast > li > .inner .climacon {
  text-shadow: 0 3px 1px rgba(0,0,0,0.1);
  font-size: 40px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  margin-bottom: 5px;
}
.week-forecast > li > .inner .climacon.rain.sun {
  padding-top: 2px;
  padding-left: 3px;
}
.week-forecast > li > .inner .climacon.cloud.sun {
  padding-top: 4px;
  padding-left: 2px;
}
.week-forecast > li:last-child > .inner {
  border-right: none;
}
.weather-icon-sm {
  width: 30px;
  height: 30px;
  background: #fff;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.weather-icon-lg {
  width: 150px;
  height: 150px;
  background: #fff;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: -75px;
}
.week-day {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 18px;
    text-transform: lowercase;
}
.week-day-temperature {
  margin: 0;
  position: relative;
  font-size: 18px;
  
}

.week-day-temperature:before {
  content: '+';

  left: 16px;
  top: 1px;
  font-size: 15px;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
}
.week-day-temperature.minus:before {
  content: '-';
}
@media (max-width: 768px) {
        .vertical-center:before {
            /* height: auto; */
            display: none;
        }

        .temperature {
            font-size: 85px;
            line-height: 200px;
            position: relative;
            font-weight: 100;
            top:0px;
        }
      
    }
    @media (max-width: 300px) {
        .vertical-center:before {
            /* height: auto; */
            display: none;
        }

        .temperature {
            font-size: 85px;
            line-height: 200px;
            position: relative;
            font-weight: 100;
            top:0px;
        }
      
    }